.git/**
.github/**
test/**
demo/**
*.vsix
node_modules/onnxruntime-node/bin/napi-v6/darwin/**
node_modules/onnxruntime-node/bin/napi-v6/win32/**
node_modules/onnxruntime-node/bin/napi-v6/linux/arm64/**
node_modules/onnxruntime-node/bin/napi-v6/linux/x64/libonnxruntime_providers_cuda.so
node_modules/onnxruntime-node/bin/napi-v6/linux/x64/libonnxruntime_providers_tensorrt.so
media/*.mp4
media/*.gif
.gitignore

INTERNAL.md
.env*
